[Unit]
Description=Jellyfish web server
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/chuck/pi-jellyfish-controller
ExecStart=/usr/bin/python3 /home/chuck/pi-jellyfish-controller/app.py
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target