<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jellyfish Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
</head>
<body>

<h1>Jellyfish Controller</h1>

<h2>Hostname: {{ hostname }}</h2>

<div class="actions-container primary-actions">
    <button onclick="sendAction('manual_up')">
        <span class="material-icons">arrow_upward</span>
        <span class="button-label">MANUAL UP</span>
    </button>
    <button onclick="sendAction('manual_down')">
        <span class="material-icons">arrow_downward</span>
        <span class="button-label">MANUAL DOWN</span>
    </button>
    <button onclick="sendAction('stop')">
        <span class="material-icons">cancel</span>
        <span class="button-label">STOP</span>
    </button>
</div>

<hr />

<div class="action-container secondary-actions">
    <button onClick="sendAction('set_upper_limit')">
        <span class="material-icons">vertical_align_top</span>
        Set upper limit
    </button>
    <button onClick="sendAction('set_lower_limit')">
        <span class="material-icons">vertical_align_bottom</span>
        Set lower limit</button>
</div>

<hr />

<button id="fetchMotorData">Fetch Motor Data</button>

<div id="motorData">
    <p>Min Height: <span id="minHeight">0</span></p>
    <p>Max Height: <span id="maxHeight">0</span></p>
    <p>Natural Speed Up: <span id="naturalSpeedUp">0</span></p>
    <p>Natural Speed Down: <span id="naturalSpeedDown">0</span></p>
    <p>Current Height: <span id="currentHeight">0</span></p>
</div>

<hr />

<h2>Danger Zone</h2>

<button onClick="sendAction('manual_up_no_limits')">
    <div>
        <span class="material-icons">warning</span>
        <span class="material-icons">arrow_upward</span>
    </div>
    Move Up - Ignore Limits
</button>
<button onClick="sendAction('manual_down_no_limits')">
    <div>
        <span class="material-icons">warning</span>
        <span class="material-icons">arrow_downward</span>
    </div>
    Move Down - Ignore Limits
</button>


<script>
function sendAction(action) {
    fetch('/action', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: 'action=' + action
    }).then(response => {
        if (response.ok) {
            console.log(action + ' success');
        } else {
            console.log(action + ' failed');
        }
    }).catch(error => console.error('Error:', error));
}
</script>

<script>
$(document).ready(function() {
    function fetchMotorData() {
        $.ajax({
            url: '/get_motor_status',
            type: 'GET',
            success: function(data) {
                $('#minHeight').text(data.minHeight);
                $('#maxHeight').text(data.maxHeight);
                $('#naturalSpeedUp').text(data.naturalSpeedUp);
                $('#naturalSpeedDown').text(data.naturalSpeedDown);
                $('#currentHeight').text(data.currentHeight);
            },
            error: function() {
                alert("Error fetching motor data.");
            }
        });
    }
    // Bind the new function to the click event of the button
    $("#fetchMotorData").click(fetchMotorData);

    // Set an interval to automatically refresh motor data
    //setInterval(fetchMotorData, 5000);  // Fetch motor data every 5 seconds
});
</script>

</body>
</html>
